.jumbotronHeader {
	background-image: url("Fondo.jpg");
	background-repeat: no-repeat; 	
	background-size: cover;
	height: 600px;
	margin-top: -20px;
}

.pageTitle {
	color: white;
	text-align: center;
	margin-top: 140px;
}


.parTitle {
	color: #2d7eff !important;
	font-size: 35px !important;
}

.footer {
	background-color: #101010;
	color: white;
	margin-bottom: 0px;
}


.footerImg {
  padding: 15px;
  border-radius: 30%;
}

.float-right {
	padding-top: 20%;
}

.btn-dark{
	background-color: #333 !important; 
	color: white;
}

.btn-dark:hover{
	color:grey !important;
}
