<!DOCTYPE html>
<html>

<head>
    <title>Sistema Antichoque</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- JQuery -->
    <script src="{{url_for('static', filename='jquery/jquery-3.2.1.min.js')}}"></script>        
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap3/css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/main.css')}}" />

    <!-- Bootstrap JS -->
    <script src="{{url_for('static', filename='bootstrap3/js/bootstrap.min.js')}}"></script>

    
</head>

<body>
      <!-- Barra -->  
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Sistema Antichoque</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            
            {% if session_user_name %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mi cuenta <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/">Control</a></li>
                    <li><a href="/stats">Estadisticas</a></li>
                    <li><a href="/account">Mis datos</a></li>
                    <li><a href="/connect">Conectarse</a></li>
                    <li><a href="/faqs">FAQs</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/logout">Logout</a> </li>
                  </ul>
                </li>
            {% else %}
                <li><a href="/login">Iniciar Sesion</a></li>
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    

    <div class="container">
        <div class="container text-center">
            <h1 class="parTitle"><strong>Preguntas frecuentes</strong></h1>
        </div>
        <br>


        <!-- Primer rectangulo -->
        <div class="row">
            <div class="col-md-8" style="text-align: center; margin:auto;">
                <h1 class="parTitle"><strong>¿Como funciona el sistema de control del autito?</strong></h1>
                <p class="lead"><i>El usuario de la plataforma web envia los comandos al servidor, y este ultimo es el encargado de comunicarse con el autito para comandarlo. A su vez, recolecta de este los valores mas importantes, almacenandolos para su posterior presentacion en la plataforma.</i></p>
            </div>
            <div class="col-md-4"></div>
        </div>

        <hr>
        <br>
        <!-- Segundo rectangulo -->
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8" style="text-align: center; margin:auto;">
                <h1 class="parTitle"><strong>¿Que debo hacer para controlar un autito con este sistema?</strong></h1>
                <p class="lead"><i>Primero usted debe registrarse en la pagina. Una vez registrado, usted debe acceder a la pestaña de control en su cuenta, donde dispondra de los botones que le permitiran comandar el autito.</i></p>
            </div> 
            
        </div>

        <hr>
        <br>

        <!-- Tercer rectangulo -->
        <div class="row">
            <div class="col-md-8" style="text-align: center; margin:auto;">
                <h1 class="parTitle"><strong>¿Debo conectarme al autito?</strong></h1>
                <p class="lead"><i>Si, usted se debe dirigir a la pestaña de conectarse. Una vez que la conexion fue exitosa, usted estara en condiciones de comandar al autito. En caso de perdida de conexion o error en la misma, usted sera informado, para que pueda conectarse nuevamente.</i></p>
            </div>
            <div class="col-md-4"></div>
        </div>
    

    <hr>
    <br>

    <!-- Segundo rectangulo -->
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8" style="text-align: center; margin:auto;">
                <h1 class="parTitle"><strong>¿Que estadisticas o informacion me provee la plataforma?</strong></h1>
                <p class="lead"><i>En la pestaña de control del autito es posible visualizar el estado actual del autito. Por otro lado, en la pestaña de estadisticas es posible ver los ultimos 10 eventos mas importantes que han ocurrido con el autito.</i></p>
            </div> 
            
        </div>
    </div>

    <br>
    <br>

   <!--Footer-->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <img class="img-fluid footerImg" src="static/assets/logo1.jpg" alt="Logo" height="90" width="100">
                </div>
                <div class="col-sm-2 col-sm-offset-8">
                    <p class="float-right"><strong>Alvarez - Cristofano 2017</strong> </p>
                </div>
            </div>
        </div>
    </footer>

</body>


</html>