<!DOCTYPE html>
<html>

<head>
    <title>Sistema Antichoque</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- JQuery -->
    <script src="{{url_for('static', filename='jquery/jquery-3.2.1.min.js')}}"></script>       
    <script type="text/javascript" src="{{url_for('static', filename='scripts/index.js')}}"></script> 
    <script type="text/javascript" src="{{url_for('static', filename='scripts/control.js')}}"></script> 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap3/css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/index.css')}}" />

    <!-- Bootstrap JS 
    <script src="{{url_for('static', filename='bootstrap/js/popper.min.js')}}"></script>-->
    <script src="{{url_for('static', filename='bootstrap3/js/bootstrap.min.js')}}"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Sistema Antichoque</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <div class="nav navbar-right" style="padding-top: 8px; padding-bottom: 8px;">
            
            {% if session_user_name %}
                  <a class='button navlink btn' href="">Control</a>
                  |
                  <a class='button navlink btn' href="/stats">Estadisticas</a>
                  |
                  <a class='button navlink btn' href="/account">Mis datos</a>
                  |
                  <a class='button navlink btn' href="/connect" accesskey="c">Conectarse</a>
                  |
                  <a class='button navlink btn' href="/faqs">FAQs</a>
                  |
                  <a class='button navlink btn' href="/logout">Logout</a>
            {% else %}
                  <a class='button navlink btn' href="/login">Iniciar Sesion</a>
            {% endif %}
          </div>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    {% if session_user_name %} 

        <div class="container">
            
            <div class="row justify-content-md-center">
                <div class="col-md-6 col-md-offset-3 col-xs-12" style="height: 440px;">
                    <div style="background:transparent; margin-top:-25px" class="jumbotron jumbotron-fluid">
                        <div class="container">

                            <div class="container text-center" style="margin-top: -20px">
                                <h2 class="parTitle"><strong>Estado Actual</strong></h2>
                            </div>

                            {% if error %}
                                <div class="alert alert-danger" style="text-align: center">{{ error }}</div>
                            {% elif inform %}   
                                <div class="alert alert-success" style="text-align: center" id="error">{{ inform }}</div>
                            {% endif %}

                            <br>
                            
                            <ul class="list-group" style="margin-top: -20px">
                                <li class="list-group-item"><b><span id="state">Estado: {{state}} - {{marcha}}</span></b></li>
                                <li class="list-group-item"><b><span id="left_distance">Distancia Izquierda: {{left_distance}}cm</span></b></li>
                                <li class="list-group-item"><b><span id="front_distance">Distancia Central: {{front_distance}}cm</span></b></li>
                                <li class="list-group-item"><b><span id="right_distance">Distancia Derecha: {{right_distance}}cm</span></b></li>
                                <li class="list-group-item"><b><span id="back_distance">Distancia Atras: {{back_distance}}cm</span></b></li>
                            </ul> 
                        </div>
                    </div>
                </div>
            </div> 

            <div class="box">
                    <a style="margin-left: 5px;" id='btn-marchad' class="btn btn-primary btn-lg" role="button" accesskey="q" onclick="control('Marcha D')">Marcha -</a>
                
                    <a style="margin-left: 5px;" id='btn-izq' class="btn btn-primary btn-lg" role="button" accesskey="a" onclick="control('Izquierda')">Izquierda</a>

                    <a style="margin-left: 5px;" id='btn-retro' class="btn btn-success btn-lg" role="button" accesskey="s" onclick="control('Retroceder')">Retroceder</a>

                    <a style="margin-left: 5px;" id='btn-freno' class="btn btn-danger btn-lg" role="button" accesskey="f" onclick="control('Frenar')">Frenar</a>
                
                    <a style="margin-left: 5px;" id='btn-avanzar' class="btn btn-success btn-lg" role="button" accesskey="w" onclick="control('Avanzar')">Avanzar</a>                    

                    <a style="margin-left: 5px;" id='btn-der' class="btn btn-primary btn-lg" role="button" accesskey="d" onclick="control('Derecha')">Derecha</a>

                    <a style="margin-left: 5px;" id='btn-marchaa' class="btn btn-primary btn-lg" role="button" accesskey="e" onclick="control('Marcha A')">Marcha +</a>
            </div> 
        </div>
    {% else %}
    <!-- Titulo de arriba con imagen-->
        <div class="jumbotron jumbotron-fluid jumbotronHeader">
            <div class="container pageTitle">
                <h1 class="parTitle"><strong>Sistema Antichoque<strong></h1>
                <p class="lead"><i><strong>Poderoso y simple sistema de evasion de obstaculos</strong></i></p>
                <a href="/signup" class="btn btn-dark btn-lg" role="button" >Registrese Ahora!</a>
            </div>
        </div>


        <div class="container">
            <br> 
            <!-- Primer rectangulo -->
            <div class="row">
                <div class="col-md-8" style="text-align: center; margin:auto;">
                    <h1 class="parTitle"><strong>Basado en Arduino</strong></h1>
                    <p class="lead"><i>Se trata de un sistema de control de un autito de tres ruedas basado en la plataforma Arduino Uno.</i></p>
                </div>
                <div class="col-md-4" style="text-align: center; margin:auto;">
                   <img class="d-block img-fluid" src="static/assets/arduino-logo.png" alt="First Use" width="220" height="220">
                </div>
            </div>

            <hr>
            <br>
            <!-- Segundo rectangulo -->
            <div class="row">
                <div class="col-md-4" style="text-align: center; margin:auto;">
                    <img class="d-block img-fluid" src="static/assets/wifi.jpeg" alt="Second Use"  width="250" height="250">
                </div>
                <div class="col-md-8" style="text-align: center; margin:auto;">
                    <h1 class="parTitle"><strong>Control por WiFi</strong></h1>
                    <p class="lead"><i>El autito posee un modulo WiFi ESP8266 que le permite comunicarse con el servidor para ser comandado por el usuario.</i></p>
                </div> 
            </div>

            <hr>
            <br>

            <!-- Parte de abajo -->
            <div class="row row-padded text-center">
                <div class="col-sm-4">
                    <img src="/static/assets/pc.png" heigth="100" width="100" style="border-radius: 5%">
                    <h4>¿Quienes somos?</h4>
                    <p class="text-muted">Somos dos alumnos de la carrera Ingenieria en Computacion cursando la materia Taller de Proyecto II.</p>
                </div>
                <div class="col-sm-4">
                    <img src="/static/assets/micro.png" heigth="81" width="81" style="border-radius: 5%">
                    <h4>¿Que es este sistema?</h4>
                    <p class="text-muted">Es un sistema sencillo de evasion de obstaculos para autitos basado en la plataforma Arduino Uno.</p>
                </div>
                <div class="col-sm-4">
                    <img src="/static/assets/faqs.png" heigth="73" width="73" style="border-radius: 5%">
                    <h4>FAQs</h4>
                    <p class="text-muted">Puede acceder a las preguntas mas frecuentes en el apartado <a href="/faqs" role="link">FAQs</a>.</p>

                </div>
            </div>
           
        </div>

    {% endif %}

    <br>
    <br>


   <!--Footer-->
    <footer class="footer">
        <div style="display: flex; justify-content: space-between; flex-wrap: nowrap; text-align: right;">
                <div>
                    <img class="img-fluid footerImg" src="static/assets/logo1.jpg" alt="Logo" height="90" width="100">
                </div>
                <div style="padding-right: 15px; flex-direction: column; flex-wrap: wrap; margin-top: auto; margin-bottom: auto">
                    <div>
                        <strong>Duranti - Palavecino - Poch | 2018</strong>
                    </div>
                    <div>
                        <strong>Alvarez - Cristofano | 2017</strong>
                    </div>
                
                </div>
        </div>
    </footer>

</body>


</html>