<!DOCTYPE html>
<html>

<head>
    <title>Sistema Antichoque</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- JQuery -->
    <script src="{{url_for('static', filename='jquery/jquery-3.2.1.min.js')}}"></script>        
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap3/css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/main.css')}}"/>
    <!-- Bootstrap JS -->
    <script src="{{url_for('static', filename='bootstrap3/js/bootstrap.min.js')}}"></script>
</head>

<body>
    <!-- Barra -->  
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Sistema Antichoque</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/login">Iniciar Sesion</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    

    <div class="container">
        <!-- Titulo de arriba -->
        <div class="container text-center login">
            <h1 class="parTitle"><strong>Formulario de Registro</strong></h2>
        </div>
        <br>

        {% if error %}
            <div class="row justify-content-md-center">
                <div class="col-md-12 col-xs-12">
                    <div class="alert alert-danger">{{ error }}</div>
                </div>
            </div>
            <br>
        {% endif %}

        <form action="/signup" method="POST">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="name" name="name" aria-describedby="nombreHelp" placeholder="Ingrese su nombre" required/>                
                        <small id="nombreHelp" class="form-text text-muted">Aquí debe ingresar su nombre.</small>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label for="nombre">Apellido</label>
                        <input type="text" class="form-control" id="surname" name="surname" aria-describedby="apellidoHelp" placeholder="Ingrese su apellido" required/>                
                        <small id="apellidoHelp" class="form-text text-muted">Aquí debe ingresar su apellido.</small>
                    </div>
                </div>
            </div>        

            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label for="nombre">Nombre de Usuario</label>
                        <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" placeholder="Ingrese su nombre de usuario" required/>                
                        <small id="nombreHelp" class="form-text text-muted">Aquí debe ingresar su nombre de usuario.</small>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label for="nombre">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp" placeholder="Ingrese su contraseña" required/>                
                        <small id="apellidoHelp" class="form-text text-muted">Aquí debe ingresar su contraseña.</small>
                    </div>
                </div>
            </div>                

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="email@example.com" required>
                        <small id="emailHelp" class="form-text text-muted">Aquí debe ingresar su email.</small>
                    </div> 
                </div>
            </div>
            <br>       
            <div class="row justify-content-md-center">  
                <div class="col-md-2 col-md-offset-5 col-xs-12"> 
                    <div class="text-center">
                        <button type="submit" class="btn btn-dark btn-lg"">Registrarse</button>
                    </div>
                </div>
            </div>
        </form>

    </div>

    <br>
    <br>

   <!--Footer-->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <img class="img-fluid footerImg" src="static/assets/logo1.jpg" alt="Logo" height="90" width="100">
                </div>
                <div class="col-sm-2 col-sm-offset-8">
                    <p class="float-right"><strong>Alvarez - Cristofano 2017</strong> </p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>